<!--Validation-->
    <md-card fxFlex="100">
  <md-card-title>List</md-card-title>
  <md-card-subtitle></md-card-subtitle>
  <md-card-content>
    <button id="addButton" kendoButton [primary]="true" [routerLink]="['new']" [attr.aria-label]="Add">Add</button>
    <br /> <br />
    <parentFilterAndPaging #parentFilterAndPagingRef [paginationData]="paginationData" [query]="query" [filterType]="filterType" [fieldFilterModel]="fieldFilterModel" [filterValue]="filterValue" (onListClicked)="getList()" (onPageChanged)="pageChanged($event)"
      (onUpdatingSort)="updateSort($event.value)" (onUpdatingFilter)="updateFilter($event)">
    </parentFilterAndPaging>
    <br />
    <kendo-grid
      *ngIf="listWithCount" 
      [data]="gridView"
      [pageSize]="query.top"
      [skip]="query.skip"
      [height]="300" 
      [pageable]="true" 
      [sortable]="{ mode: 'single' }" 
      [sort]="sort" 
      (pageChange)="gridPageChanged($event)" 
      (sortChange)="sortChange($event)">
      <kendo-grid-column title="Actions" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton class="edit-item" [primary]="true" (click)="edit(dataItem)" [attr.aria-label]="edit"><md-icon>edit</md-icon></button>
          <button kendoButton class="delete-item" [primary]="true" (click)="delete(dataItem.id)" [attr.aria-label]="delete"><md-icon>delete</md-icon></button>
        </ng-template>
      </kendo-grid-column>
      
      <!--id-->
      <kendo-grid-column field="id" title="Id"></kendo-grid-column>
      <!--afterDate-->
      <kendo-grid-column title="AfterDate">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.afterDate | date:"MM/dd/yyyy" }}      
        </ng-template>
      </kendo-grid-column>
      <!--age-->
      <kendo-grid-column field="age" title="Age"></kendo-grid-column>
      <!--beforeDate-->
      <kendo-grid-column title="BeforeDate">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.beforeDate | date:"MM/dd/yyyy" }}      
        </ng-template>
      </kendo-grid-column>
      <!--containsDPT-->
      <kendo-grid-column field="containsDPT" title="ContainsDPT"></kendo-grid-column>
      <!--createdBy-->
      <kendo-grid-column field="createdBy" title="CreatedBy"></kendo-grid-column>
      <!--createdDate-->
      <kendo-grid-column title="CreatedDate">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.createdDate | date:"MM/dd/yyyy" }}      
        </ng-template>
      </kendo-grid-column>
      <!--creditCard-->
      <kendo-grid-column field="creditCard" title="CreditCard"></kendo-grid-column>
      <!--date-->
      <kendo-grid-column title="Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.date | date:"MM/dd/yyyy" }}      
        </ng-template>
      </kendo-grid-column>
      <!--email-->
      <kendo-grid-column field="email" title="Email"></kendo-grid-column>
      <!--integer-->
      <kendo-grid-column field="integer" title="Integer"></kendo-grid-column>
      <!--isActive-->
      <kendo-grid-column field="isActive" title="IsActive"></kendo-grid-column>
      <!--phone-->
      <kendo-grid-column field="phone" title="Phone"></kendo-grid-column>
      <!--startsWithDPT-->
      <kendo-grid-column field="startsWithDPT" title="StartsWithDPT"></kendo-grid-column>
      <!--string-->
      <kendo-grid-column field="string" title="String"></kendo-grid-column>
      <!--uid-->
      <kendo-grid-column field="uid" title="Uid"></kendo-grid-column>
      <!--updatedBy-->
      <kendo-grid-column field="updatedBy" title="UpdatedBy"></kendo-grid-column>
      <!--updatedDate-->
      <kendo-grid-column title="UpdatedDate">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.updatedDate | date:"MM/dd/yyyy" }}      
        </ng-template>
      </kendo-grid-column>
      <!--url-->
      <kendo-grid-column field="url" title="Url"></kendo-grid-column>
      <!--zip-->
      <kendo-grid-column field="zip" title="Zip"></kendo-grid-column>
    </kendo-grid>
  </md-card-content>
</md-card>